<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="1"
	android:versionName="1.0.0"
	android:compileSdkVersion="36"
	android:compileSdkVersionCodename="16"
	package="com.example.daftar"
	platformBuildVersionCode="36"
	platformBuildVersionName="16"
	>
	<uses-sdk
		android:minSdkVersion="24"
		android:targetSdkVersion="36"
		>
	</uses-sdk>
	<queries
		>
		<intent
			>
			<action
				android:name="android.intent.action.PROCESS_TEXT"
				>
			</action>
			<data
				android:mimeType="text/plain"
				>
			</data>
		</intent>
	</queries>
	<permission
		android:name="com.example.daftar.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
		android:protectionLevel="0x00000002"
		>
	</permission>
	<uses-permission
		android:name="com.example.daftar.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
		>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    
    
    </uses-permission>
	<application
		android:label="daftar"
		android:icon="@7F0A0000"
		android:name="android.app.Application"
		android:extractNativeLibs="false"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		>
		<activity
			android:theme="@7F0C0000"
			android:name="com.example.daftar.MainActivity"
			android:exported="true"
			android:taskAffinity=""
			android:launchMode="1"
			android:configChanges="0x40003FB4"
			android:windowSoftInputMode="0x00000010"
			android:hardwareAccelerated="true"
			>
			<meta-data
				android:name="io.flutter.embedding.android.NormalTheme"
				android:resource="@7F0C0001"
				>
			</meta-data>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
		</activity>
		<meta-data
			android:name="flutterEmbedding"
			android:value="2"
			>
		</meta-data>
		<provider
			android:name="net.nfet.flutter.printing.PrintFileProvider"
			android:exported="false"
			android:authorities="com.example.daftar.flutter.printing"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F0E0000"
				>
			</meta-data>
		</provider>
		<provider
			android:name="dev.fluttercommunity.plus.share.ShareFileProvider"
			android:exported="false"
			android:authorities="com.example.daftar.flutter.share_provider"
			android:grantUriPermissions="true"
			>
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@7F0E0001"
				>
			</meta-data>
		</provider>
		<receiver
			android:name="dev.fluttercommunity.plus.share.SharePlusPendingIntent"
			android:exported="false"
			>
			<intent-filter
				>
				<action
					android:name="EXTRA_CHOSEN_COMPONENT"
					>
				</action>
			</intent-filter>
		</receiver>
		<activity
			android:theme="@01030007"
			android:name="io.flutter.plugins.urllauncher.WebViewActivity"
			android:exported="false"
			>
		</activity>
		<uses-library
			android:name="androidx.window.extensions"
			android:required="false"
			>
		</uses-library>
		<uses-library
			android:name="androidx.window.sidecar"
			android:required="false"
			>
		</uses-library>
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:exported="false"
			android:authorities="com.example.daftar.androidx-startup"
			>
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.profileinstaller.ProfileInstallerInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
		</provider>
		<receiver
			android:name="androidx.profileinstaller.ProfileInstallReceiver"
			android:permission="android.permission.DUMP"
			android:enabled="true"
			android:exported="true"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.INSTALL_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SKIP_FILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SAVE_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"
					>
				</action>
			</intent-filter>
		</receiver>
	</application>
</manifest>
